.container {
  margin: 0 auto;
  /*max-width: 90.0rem;*/
  max-width: 750px;
  /*width: 100%;*/
  /*width: 55%;*/
  padding-left: 2.0rem;
  padding-right: 2.0rem;
}

/*p {
    background-color: yellow;
}
*/